@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#preface footer{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:diary.dateline"]{
	font-variant: small-caps;
}

[epub|type~="se:diary.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:diary-entry"]{
	margin-left: 0;
	margin-right: 0;
}

#chapter-3-2-1 [epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

header{
	font-variant: small-caps;
	margin-top: 3em;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:diary-entry"] > p time{
	font-style: italic;
}

#chapter-2-1-10 blockquote:first-of-type p:last-child{
	font-variant: small-caps;
	margin: 1em auto;
	text-align: center;
	text-indent: 0;
}
