@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

b{
	font-variant: small-caps;
	font-weight: normal;
}

.signature{
	font-variant: small-caps;
}

#preface footer{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:diary.dateline"]{
	font-variant: small-caps;
}

[epub|type~="se:diary.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:diary-entry"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

header{
	margin-top: 3em;
}

header p{
	text-align: center;
	font-variant: small-caps;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:diary-entry"] > p time{
	font-style: italic;
}
